[submodule "módulo-1_fundamentos-do-desenvolvimento-web/bloco-09-javascript-e-testes-assincronos/dia-3-jest-testes-assincronos/conteudos/content-async-test/9.3-content-async-test"]
	path = módulo-1_fundamentos-do-desenvolvimento-web/bloco-09-javascript-e-testes-assincronos/dia-3-jest-testes-assincronos/conteudos/content-async-test/9.3-content-async-test
	url = https://github.com/ageumenezesDev19/9.3-content-async-test
