* {
  margin: 0 auto;
}

body {
  background: honeydew;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-family: collector-comic,sans-serif;
  font-weight: 400;
  font-style: normal;
}

#divContainer {
  display: flex;
  margin: 20px;
}

h2 {
  margin-top: 3rem;
  background-color: rgb(208, 255, 68);
  padding: 2rem;
  border-radius: 20px;
  font-family: co-headline, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
}
