header h1 {
    font-family: fantasy;
    display: flex;
    justify-content: center;
}

#teste {
    display: flex;
    justify-content: center;
}

.paragraph {
    display: flex;
    justify-content: center;
}