label {
    margin: 10px;
  }
  
  fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .textarea {
    display: flex;
    align-items: center;
  }
  
  .textarea textarea {
    margin: 5px;
  }
  
  input {
    margin: 5px;
  }
  