/*Introdução ao CSS*/

h1 {
    font-size: 65px;
    color: orange;
  }

  ul {
    background-color: aquamarine;
  }

  .back-ground {
    background-color: aqua;
  }

/*Propriedades de texto no CSS*/

h1 {
    font-family: sans-serif;
    font-style: oblique;
    text-align: center;
  }
  p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
  }
  body {
    font-size: 16px;
  }
  ul {
    line-height: 250%;
    background-color: rgb(125, 225, 250);
  }
  #li-amarelo {
    color: yellow;
  }
  #li-vermelho {
    color: red;
  }
  #li-marrom {
    color: brown;
  }