body {
    margin: 0%;
    background-color: black;
    height: 6880px;
}

#Título {
    position: fixed;
    display: inline-block;
    text-align: center;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
    /*transform: translateX(-50%), Fonte: https://www.ti-enxame.com/pt/css/centralizar-uma-posicao-elemento-fixo/968757610/*/
    color: rgb(255, 255, 255);
    padding-top: 0.8%;
    padding-bottom: 0.9%;
    background-color: rgb(15, 141, 135);
    width: 100%;
    z-index: 4;
}

strong {
    color: rgb(255, 136, 0);
}

#name-stomatopoda {
    color: rgb(2, 255, 179);
}

#Título2 {
    text-align: center;
    margin-bottom: 0%;
}

nav {
    position: fixed;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: rgb(217, 255, 0);
    padding-top: 5%;
    padding-bottom: 1.2%;
    margin-top: -3.75%;
    z-index: 3;
    font-family: fantasy;
    font-size: 180%;
}

#link-página-inicial {
    margin-right: 5%;
    color: rgb(0, 119, 255);
}

#link-página-inicial:hover {
    color: black;
}

#link-sobre {
    margin-left: 5%;
    margin-right: 10%;
    color: rgb(0, 119, 255);
}

#link-sobre:hover {
    color: black;
}

#link-contatos {
    margin-left: 3%;
    color: rgb(0, 119, 255);
}

#link-contatos:hover {
    color: black;
}

#subtitulo-article {
    text-align: center;
    margin-top: 2%;
    font-size: 240%;
    color: white;
}

#Image-Stomatopada {
    position: relative;
    width: 100%;
    top: 0px;
    margin-top: 5.1%;
    z-index: 1;
}

.backgraund_2 {
    background-color: rgb(59, 59, 59);
    position: relative;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
}

#in-link-sobre {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: 38.3vw;
}

h3 {
    text-align: center;
    color: white;
}

.images-grup {
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 325px;
    margin-top: 1%;
    margin-bottom: 2.5%;
    border: 5px white solid;
}

p {
    text-align: center;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 200%;
    color: white;
}

#vídeo-do-youtube {
    position: absolute;
    width: 50px;
    top: 250px;
    left: 10px;
    border: 3px rgb(0, 162, 255) solid;
    border-style: dotted;
    border-radius: 20px;
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top: -1%;
    padding-bottom: -1%;
    z-index: 2;
}

#vídeo-do-youtube:hover {
    border: 4px rgb(255, 251, 0) solid;
    border-style: dotted;
}

#vídeo-do-youtube:active {
    border: 4px rgb(0, 255, 0) solid;
    border-style: dotted;
}

#estrutura-do-mecanismo {
    padding-left: 27%;
    padding-right: 27%;
    color: white;
    font-size: 150%;
}

table {
    background-color: rgb(255, 230, 0);
    border: 2px black solid;
    margin-top: -0.85%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

caption {
    background-color: rgb(206, 0, 86);
    border: 2px black solid;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 0.7%;
    color: white;
}

th {
    border-radius: 7px;
    height: 35px;
}

nav {
    text-align: center;
}

#Referências {
    position: relative;
    margin-bottom: -0.5%;
    padding-left: 2%;
}

#sessão-referências {
    background-color: rgb(228, 228, 228);
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-right: 2%;
}

footer {
    position: absolute;
    padding-left: 1%;
    color: white;
    z-index: 2;
}

#obs {
    margin-top: 1%;
    text-align: center;
}

#informações-científicas {
    padding-top: 0.5%;
    font-size: 230%;
}

#section_1 > p {
    padding-bottom: 0.5%;
}

#super-visão {
    padding-top: 0.5%;
    font-size: 230%;
}

#section_2 > p {
    padding-bottom: 0.5%;
}

#super-soco {
    padding-top: 0.5%;
    font-size: 230%;
}

#section_3 {
    padding-bottom: 0.1%;
}

#descobertas {
    padding-top: 1%;
    font-size: 230%;
}

#section_4 {
    padding-bottom: 0.1%;
}

#modelo-pro-futuro {
    font-size: 230%;
}

.links-externios {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 50px;
    border-radius: 5px;
    left: 48%;
    transform: translateX(-48%);
    margin-top: 0.5%;
}

